<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Guest Book</title>
</head>
<body>
    <div class="input" id="name">
        <label>Name: </label>
        <input type="text" th:field="*{username}" placeholder="name" />
    </div>
    <div class="input" id="date">
        <label>Date: </label>
        <input type="text" th:field="*{dateField}" placeholder="yyyy-mm-dd" />
    </div>
    <div class="input" id="text">
        <label>Text: </label>
        <input type="text" th:field="*{text}" placeholder="your entry">
    </div>
    <input type="submit" value="Submit"/>
</body>
</html>